<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h4>{{collection.name}} <small>{{collection.id}}</small></h4>
            <p>{{collection.description}}</p>
            <p>status: {{collection.status}}</p>
            <p>interval: {{collection.interval}}ms</p>
            <p>iterationCount: {{collection.newmanOption.iterationCount}}</p>
            <p>timeoutRequest: {{collection.newmanOption.timeoutRequest}}</p>
            <p>delayRequest: {{collection.newmanOption.delayRequest}}</p>
            <p>ignoreRedirects: {{collection.newmanOption.ignoreRedirects}}</p>
            <p>insecure: {{collection.newmanOption.insecure}}</p>
            <p>bail: {{collection.newmanOption.bail}}</p>
            {{#if collection.handler}}
            <p>handler: {{handler.name}}</p>
            <p>handler params: {{collection.handlerParams}}</p>
            {{/if}}
            <p>
                <a href="/collection/download/{{collection.id}}/collection" style="text-decoration: none;">download collection</a>
            </p>
            {{#if collection.newmanOption.iterationData}}
            <p>
                <a href="/collection/download/{{collection.id}}/iterationData" style="text-decoration: none;">download iterationData</a>
            </p>
            {{/if}}
            {{#if collection.newmanOption.environment}}
            <p>
                <a href="/collection/download/{{collection.id}}/environment" style="text-decoration: none;">download environment</a>
            </p>
            {{/if}}
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
