<style>
    .form-group.required .control-label:before {
        content:"* ";
        color:red;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h3 style="background-color: #f8f8f8;line-height: 3.5;text-align: center;"><span style="color: red;">Edit </span>{{handler.name}}</h3>
            <form action="/handler/update/{{handler.id}}" method="post">
                <div class="form-group">
                    <label>name</label>
                    <input type="text" name="name" class="form-control" style="width: auto" value="{{handler.name}}">
                </div>
                <div class="form-group">
                    <label>description</label>
                    <textarea class="form-control" name="description" rows="5">{{handler.description}}</textarea>
                </div>
                <div class="form-group">
                    <label>javascript code</label>
                    <textarea class="form-control" name="script" rows="15">{{handler.script}}</textarea>
                    <p class="help-block" style="margin-bottom: 0px">handler code will be run in <a href="https://www.npmjs.com/package/safe-eval">safe-eval</a>, injected variable can be used:
                        <a href="https://github.com/postmanlabs/newman#newmanruncallbackerror-object--summary-object">summary</a>,
                        <a href="https://nodejs.org/api/console.html">console</a>,
                        <a href="https://www.npmjs.com/package/co-redis">redis</a>,
                        <a href="https://www.npmjs.com/package/co">co</a>,
                        <a href="https://www.npmjs.com/package/postman-request">request</a>,
                        <a href="https://www.npmjs.com/package/date-and-time">date</a>,
                        <a href="https://www.npmjs.com/package/sprintf-js">sprintf/vsprintf</a>,
                        handlerParams
                    </p>
                </div>
                <button id="form" type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
